
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    min-width: 400px;
    font-size: 15px;
    font-family: Roboto, arial, sans-serif;
    color: black;
    background:white; 
}

#search-bar {
    box-sizing: border-box;
    display: flex;
    height: 45px;
    margin: 0 auto;
    width: calc(632px + 6px);
    width: auto;
    max-width: 584px;
    border:1px solid #dcdcdc;
    border-radius:24px;
}
#search-bar:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;

}
.division2 {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    min-height: 150px;
    max-height: 290px;
    height: calc(100% - 560px);
    min-width: 100%; 
}
#google-logo {
    position: relative;
    text-align: center;
    max-height: 230px;
    max-width: 550px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: auto;
    margin-bottom: 0px;    
}
.division3 {
    display: block;
    box-sizing: border-box;
    text-align: center;
    min-width: 100%;
    max-height: 160px;
    padding: 20px;
    margin: 0px;
    padding: 20px;
}
.submit-btn {
    background-color: #f5f5f5;
    border:none;
    color:#707070;
    outline:none;
    border-radius: 4px;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}
#button-container {
    padding-top: 18px;
    text-align: center;
    margin: 0 auto;
    height:70px;
    max-width: 584px;
}
#division3-1 {
    display: flex;
    align-items: center;
    width: 20px;
    padding-right: 14px;
    padding-left: 13px;
}
#search-icon {
    height: 20px;
    line-height: 20px;
    width: 20px;
    margin-top: 3px;
    color: #9aa0a6;
}
#input-space {
    display: flex;
    width: 483px;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    outline: none;
    font-size: 16px;
}
#input-space:focus {
    outline: none;
}
#division3-2 {
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
}
#voice-search{
    height: 24px;
    width: 24px;
    vertical-align: middle;
}
.division1 {
    display: block;
    box-sizing: border-box;
    /* align-items: center; */
    padding: 6px;
    height: 60px;
    width: 100%;
    margin: 0 auto;
}
#division1-1 {
    display: flex;
    box-sizing: border-box;
    float: left;
    margin-left: 20px;
    line-height: normal;
    position: relative;
    height: 100%;
    width: 74px;
}
#division1-2 {
    display: flex;
    box-sizing: border-box;
    float: right; 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    max-width: 281px;
    padding: 0px;
    margin: 0 auto;
}
ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    overflow: hidden;
    color:#707070;
}
li {
    margin: 0 10px;
    cursor: pointer;
}
li:hover {
    text-decoration: underline;
}
.division4 {
    display: block;
    box-sizing: border-box;
    color: #f28b82;
    font-size: 20px;
    margin: 25px 35px;
    max-width: 100%;
    width: auto;
    height: 23.2px;
}
.division5{
    display: block;
    box-sizing: border-box;
    height: auto;
    max-height: 868px;
    max-width: 1140px;
    min-width: 200px;
    font-size: 13px;
    color: #222;
    width: 96%;
    margin: 40px 2% 0 45px;
}
tr #input-space{
    padding-right: 16px;
    box-sizing: border-box;
    max-width: 448px;
    min-width: 167px;
    min-height: 41px;
    border:1px solid black;
    text-align: left;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}
tr #input-space:focus {
    box-shadow: 0px 0px 6px 1px #3079ed;
}
#advanced-search {
    height: 30px;
    min-width: 120px;
    float: right;
    margin: 10px 0;
    padding: 0 12px;
    box-shadow: none;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}